<div class="referral span6">     
  <%== can.view.render('views/referralView.ejs', {  
    referral: referral 
  }) %>           
	
	<div class="buttons pull-right">          
	  <a href="javascript://" class="btn btn-primary save">Save</a>
	</div>  
</div> 